<div id="main">
    <div id="leftContainer">
        <p>filemanager</p>
    </div>
    <div id="rightContainer">
        <p><span>id: </span>{{id}}</p>
        <p><span>name: </span>{{name}}</p>
        <p><span>size: </span>{{size}}</p>
        <p><span>type: </span>{{type}}</p>
        <p><span>savedata: </span>{{savedata}}</p>
    </div>
</div>